[user]
  name = Harrison Powers
  email = harrisonpowers@gmail.com
  signingkey = F1136F54
[core]
  editor = vim
  excludesfile = ~/.gitignore
[push]
  default = current
[branch]
  autosetuprebase = always
[alias]
  st = status -s
  co = checkout
  la = "!git config -l | grep alias | cut -c 7-"
  le = log --graph --oneline --decorate
  ls = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
  rem="!git config -l | grep remote.*url | tail -n +2"
[merge]
  tool = diffconflicts
[mergetool "diffconflicts"]
  cmd = diffconflicts vim $BASE $LOCAL $REMOTE $MERGED
  trustExitCode = true
  keepBackup = false
[github]
  user = fijimunkii
[commit]
  gpgsign = false
[gpg]
  program = gpg2
